<h1 class="text-center">Detalle post:  {{post.id}}</h1>

<section class="mt-3">
    {{> post 
                titulo= post.titulo 
                imagen = post.imagen  
                contenido = post.contenido  
                creacion = post.createdAt
                nombre = post.autor.nombre
                apellido = post.autor.apellido   
            }}
</section>
<section>
    <h3 class="text-center">comentarios realizados</h3>
    <h4>Cantidad de comentarios realizados por los usuarios: {{cantidadComentarios}}</h4>
    {{> acordeon
        comentarios= post.comentarios
    }}
        
</section>

<section class="py-5">
    <h2 class="text-center">Comentar.</h2>

    <form id="formComentario" class="row g-4">
        <div class="input-group" class="col-12">
            <input type="hidden" value="{{post.id}}" name="postId">
            <label for="contenido" class="form-label col-12">contenido: </label>
            <textarea name="contenido" rows="10" class="w-100" required></textarea>
        </div>
        <div>
           <button class="btn btn-primary">Comentar</button> 
        </div>
    </form>
</section>


<script>
    let formComentario = document.getElementById("formComentario");

    formComentario.addEventListener("submit", async (event)=> {
        event.preventDefault();
        let data = new FormData(formComentario);

        const myHeaders = new Headers();
        myHeaders.append("Authorization", `Bearer ${token}`);

        try{
            let response = await fetch("/api/v1/comentarios", {
                method: "POST",
                body: data,
                headers: myHeaders
            })

            let result = await response.json();

            if(result.code == 201){
                alert(result.message);
                location.reload();
            }else{
                alert(result.message);
            }

        }catch(error){
            alert("Ha ocurrido un error al comentar la publicación.")
        }


    })
</script>